<div class="users-list" *ngIf="users.length > 0">
  <mat-card *ngFor="let user of users" class="user-card">
    <mat-card-header>
      <div mat-card-avatar class="user-avatar">
        <img style="width: 100%;" [src]="user.profile" alt="User">
      </div>
      <mat-card-title>{{ user.firstName + " " + user.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Company Name: {{ user.companyName }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="approve-button" (click)="acceptUser(user)">Accept</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="users.length == 0" class="text-center" style="margin-top: 20px;">
  <h2>No Friend Requests</h2>
</div>