.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  /* body {
    background-image: url("/assets/download6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } */